@import '../../styles/variables';

.Analize {
  margin: 0 3rem;
  background-color: white;
  width: 400px;
  height: 400px;
  box-shadow: 4px 0px 15px rgba(0, 0, 0, 0.05);
  border-radius: 5%;
  display: flex;
  flex-flow: column;
  
  p{
    padding-left: 2rem;
    padding-right: 1rem;
  }
  
  button {
    font-family: $primary-font;
    font-size: 16px;
    font-weight: 700;
    position: relative;
    margin: auto;
    height: 36px;
    width: 200px;
    padding: 6px 16px;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    border: 0;
    border-radius: 5px;
    background: $gradient;
    color: #fff;
    outline: 0;
    transition: 0.2s ease-in-out;
    &:hover{
      color: $dark-gray;
      background-color: $green;
    }
    &:disabled {
      background: rgb(189, 189, 189);
      cursor: default;
    }
  }
}