@import '../../styles/variables';

.analize {
  background-color: white;
  width: 400px;
  height: 400px;
  box-shadow: 4px 0px 15px rgba(0, 0, 0, 0.05);
  border-radius: 5%;
  display: flex;
  flex-flow: column;
  
  p{
    padding-left: 2rem;
    padding-right: 1rem;
  }
  
  a {
    position: relative;
    bottom: 0px;
    margin: auto;
    font-weight: 700;
    font-size: 1rem;
    text-align: center;
    background: $gradient;
    box-shadow: 4px 0px 15px rgba(0, 0, 0, 0.05);
    color: white;
    text-decoration: none;
    min-width: 150px;
    padding: 10px 30px;
    border-radius: 5px;

    &:hover {
      position: relative;
      top: 1px;
    }

  }
}