// textos
$primary-font: 'Montserrat', Arial, Helvetica, sans-serif;

//colores
$light-gray: #FAFAFA;
$middle-gray: #C4C4C4;
$dark-gray: #595959;
$blue: #00C9FF;
$green: #92FE9D;
$gradient: linear-gradient(45deg, #00C9FF, #92FE9D);
